// Some variables I am using throughout my css file
$font-stack: 'Montserrat', sans-serif;
$font-headline: 'Bowlby One', cursive;
$primary-color: #6D6C5F;
$secondary-color: #FEEFA5;
$pokedex-color: #DF5D56;
$accent-color: #62BC9D;
$screen-color: #393B43;

// This is importting the reset.scss file which will reset some browser default css
@import 'reset';

// This mixin will allow you to use the transform property various times throughout your css in different ways
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

// Extending flex so CSS can be more DRY
%flex {
  display: flex;
}

%center-text {
  text-align: center;
}

%border-bottom {
  border-bottom: 3px solid $secondary-color;
}

body {
  font-family: $font-stack;
  color: $primary-color;
  @extend %flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

h1 {
  @extend %center-text;
  font-family: $font-headline;
  background: $pokedex-color;
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

nav {
  width: 200px / 960px * 100%;
  background-color: $secondary-color;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    @extend %flex;
    flex-direction: column;
    align-items: center;
      li {
        padding: 40px 0px;
      }
  }

  a {
    text-decoration: none;
    color: $primary-color;
    @extend %center-text;
  }
}

.box {
  @include transform(rotate(30deg));
}

.content {
  @extend %flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

main {
  width: 800px / 960px * 100%;
  overflow-y: scroll;
  height: 600px;
  @extend %flex;
  flex-direction: column;
  align-items: center;
  background: $accent-color;
}

.screen {
  background: $screen-color;
  width: 800px / 960px * 100%;
  margin-top: 40px;
  @extend %flex;
  align-items: center;
  justify-content: space-around;

  .pokemoncard {
    @extend %flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    color: $secondary-color;

    .pokemonname {
      font-family: $font-stack;
      font-weight: 500;
      text-transform: uppercase;
      margin: 0;
      font-size: 40px;
      @extend %border-bottom;
    }

    .pokemontypes {
      @extend %flex;
      margin: 0;
    }

    .pokemonsizes {
      @extend %flex;
    }

    .abilitiesheader {
      margin: 0;
    }

    .pokemoninfo {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      p {
        width: 50%;
        @extend %center-text
      }
    }
  }
}

.pokemonspritefront {
  align-self: flex-start;
  width: 300px;
  min-width: 200px;
  height: 300px; 
  min-height: 100px;
}

footer {
  height: 51px;
  background-color: $pokedex-color;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
