html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.screen .pokemoncard .pokemonsizes, .screen .pokemoncard .pokemontypes, .screen .pokemoncard, .screen, main, .content, nav ul, nav, body {
  display: flex;
}

.screen .pokemoncard .pokemoninfo p, nav a, h1 {
  text-align: center;
}

.screen .pokemoncard .pokemonname {
  border-bottom: 3px solid rgba(22, 108, 236, 0.5);
}

body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  flex-direction: column;
  margin: 40px auto;
  width: 80%;
}

h1 {
  font-family: "Bowlby One", cursive;
  background: #d31e14;
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

nav {
  width: 20.8333333333%;
  background-color: rgba(22, 108, 236, 0.5);
  border-right: 10px solid #d31e14;
  flex-direction: column;
  justify-content: center;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: column;
  align-items: center;
}
nav ul li {
  padding: 40px 0px;
}
nav a {
  text-decoration: none;
  color: #6D6C5F;
}

.box {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.content {
  flex-direction: row-reverse;
  justify-content: space-between;
}

main {
  width: 83.3333333333%;
  overflow-y: scroll;
  height: 600px;
  flex-direction: column;
  align-items: center;
  background: #A19FA2;
  border-left: 10px solid #DF5D56;
}

.quicktip {
  color: #6D6C5F;
}

.screen {
  background: #ffffff;
  width: 83.3333333333%;
  height: 400px;
  margin-top: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
}
.screen .pokemoncard {
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: rgba(22, 108, 236, 0.5);
  text-transform: uppercase;
}
.screen .pokemoncard .pokemonname {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
  font-size: 40px;
}
.screen .pokemoncard .pokemontypes {
  margin: 0;
}
.screen .pokemoncard .pokemontypes p {
  padding: 10px;
}
.screen .pokemoncard .pokemonsizes p {
  padding: 10px;
}
.screen .pokemoncard .abilitiesheader {
  margin: 0;
}
.screen .pokemoncard .pokemoninfo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.screen .pokemoncard .pokemoninfo p {
  width: 50%;
}

.pokemonspritefront {
  width: 300px;
  min-width: 200px;
  height: 300px;
  min-height: 100px;
}

footer {
  height: 51px;
  background-color: #d31e14;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bioheader {
  margin-top: 50px;
}

.bio {
  color: #6D6C5F;
  font-size: 1.1em;
  padding: 60px;
  line-height: 1.7em;
}

.biolink {
  color: #d31e14;
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column;
  }

  nav {
    width: 94.6%;
    border-left: 10px solid #DF5D56;
  }
  nav ul {
    flex-direction: row;
    justify-content: space-around;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */

/*# sourceMappingURL=main.css.map */
